html,
body {
    box-sizing: border-box;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --body-background: #d6d4e0;
    --form-background: rgba(255, 255, 255, 0.95);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.content {
    background: var(--body-background);
    background-size: cover;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    fill: white;
    padding: 1.2rem;
    width: 200px;
    margin-bottom: 3rem;
}

.wrapper {
    padding: 1.2rem;
    max-width: 350px;
    background: var(--form-background);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

h2 {
    text-align: center;
    margin: 0;
}

/* unordered list  */

.plates {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.plates li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.6rem 0;
    font-weight: 100;

    display: flex;
}

.plates label {
    flex: 1;
    cursor: pointer;
}

.plates input {
    display: none;
}

.plates input + label:before {
    content: '⬜️';
    margin-right: 0.7rem;
}

.plates input:checked + label:before {
    content: '🍔';
}

/* form */

.add-items {
    margin-top: 1.2rem;
}

.add-items input {
    padding: 0.7rem;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
