html {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background-color: rgb(153, 232, 232);
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;

    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;

    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url("./assets/mountains-img.jpg");
}

.panel2 {
    background-image: url("./assets/bridge-img.jpg");
}

.panel3 {
    background-image: url("./assets/canyon.jpg");
}

.panel4 {
    background-image:url("./assets/ballons-img.jpg");
}

.panel5 {
    background-image: url("./assets/ice-img.jpg");
}



/* Flex Children */
.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    /* border: 1px solid green; */
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel.open-active > *:first-child {
    transform: translateY(0);
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 2rem;
    text-transform: lowercase;
    /* text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45); */
    text-shadow: 3px 3px 5px rgba(0,0,0,0.9);

}

.panel p:nth-child(2) {
    font-size: 2em;
  }

.panel.open {
    font-size: 2.3rem;
    flex:5;
}